# Environment variables
.env
hackaton_backend/
# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Database files
*.sqlite3
*.db

# Uploaded files
backend/uploads/

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db